#requirements.txt

pandas
numpy
matplotlib
seaborn
scikit-learn
datasets
transformers
torch
unidic-lite
fugashi
beautifulsoup4
lxml
japanize-matplotlib
pymongo
nlplot

# spacy
# mecab-python3
# sentencepiece